/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('astronaut-in-space.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styles */
header {
    color: white;
    padding: 20px 10%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay to make text stand out */
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* Flex Container for About Me Section */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.flex-child {
    flex: 1;
    margin: 10px;
    text-align: justify;
}

.flex-child img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Timeline Styles */
.timeline-container {
    position: relative;
    padding-left: 40px;
    margin: 20px 0;
}

.timeline-block {
    position: relative;
    margin: 20px 0;
}

.timeline-dot {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #555;
    border-radius: 50%;
    top: 10px;
    cursor: pointer; /* Indicates that the dot is clickable */
}

.timeline-content {
    display: none; /* Initially hides content */
    margin-left: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* Section Styles */
section {
    margin: 20px 10%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white for readability */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 10%;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    header, footer {
        padding: 20px;
    }
}
